DB_URL=jdbc:postgresql://localhost:5432/sphere_posts
DB_USERNAME=postgres
DB_PASSWORD=

# MUST match user-service's JWT_SECRET / INTERNAL_API_SECRET exactly
JWT_SECRET=
INTERNAL_API_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EUREKA_URI=http://localhost:8761/eureka/
