# Server
USER_SERVICE_PORT=8081

# Database
DB_URL=jdbc:postgresql://localhost:5432/sphere_users
DB_USERNAME=postgres
DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRE_SECONDS=604800

# Internal service-to-service auth (MUST match other services' INTERNAL_API_SECRET)
INTERNAL_API_SECRET=

# Frontend URL
CLIENT_URL=http://localhost:5173

# Email SMTP
FROM_EMAIL=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_MAIL=
SMTP_PASSWORD=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Service discovery
EUREKA_URI=http://localhost:8761/eureka/
